#page-photographie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    margin-bottom: 8rem;
    padding: 2rem;
 
    .item {
        display: flex;
        justify-content: center;
        .container-photo {
            img {
                width: 100%;
                max-width: 500px;
                transition: transform 0.3s ease-in-out;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                cursor: pointer;
                margin: 0 auto;
            }
            img:hover {
                transform: scale(1.04);
                
            }  
        
            .status {
                margin-top: 0.5rem;
                width: 15px;
                height: 15px;
                border-radius: 2px;
                border: 1px solid black;
            }
        
            .available {
                background-color: green;
            }
        
            .sold {
                background-color: red;
            }
        }
        
    }
    
}

#imageModal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;

    &.active {
        display: flex; /* Muestra el modal cuando tiene la clase "active" */
    }

    .modal-content {
        max-width: 90vw;
        max-height: 90vh;
        object-fit: contain;
    }

    .close-modal {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        border: none;
        padding: 10px 15px;
        border-radius: 50%;
        transition: background 0.3s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }

    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.2);
        color: white;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 50%;
        transition: background 0.3s ease;
    
        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    
        i {
            display: block;
        }
    }
    
    .prev { left: 20px; }
    .next { right: 20px; }
}



@media screen and (max-width: 1400px) {
    #page-photographie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5rem; // Espacio entre los elementos

        
    }
}

@media screen and (max-width: 900px) {
    #page-photographie {
        gap: 4rem;
    }
}

@media screen and (max-width: 750px) {
    #page-photographie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}
